
.profile {
  background-color: white;
  color: black;
  padding-top: 120px;
}

.profileImage {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 10em;
}

.profileName {
  padding-top: 30px;
  font-weight: bold;
}

.profileAboutMe {
  font-size: 12px;
  font-style: italic;
}

