.dark {
  background-color: black;
  color: whitesmoke;
}

.content-button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.status {
  font-size: 18px;
  font-weight: bold;
}

.game-images {
  height: 50px;
}

.game-buttons {
  background-color: transparent;
  border: 3px solid white;
  padding: 20px 20px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.game-button-blank {
  background-color: black;
  height: 50px;
}

.result-status-total {
  display: inline-block;
  margin-left: 10px;
}

.reset-button {
background-color: gray;
font-size: 14px;
font-weight: bold;
padding: 8px 6px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.developmentTools, .gameDescription, .responsiveDescription, .gameCarrotDescription, .pmsDescription, .capstoneDescription, .spotifyDescription, .cmsDescription {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(124, 179, 197);
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: left;
}

.gameNote, .responsiveNote, .gameCarrotNote, .pmsNote, .capstoneNote, .spotifyNote, .cmsNote {
  text-align: left;
}